<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>- Danger Zones</td>
            </tr>
            <tr>
                <td>- Fat Unicorn: The Poopening</td>
            </tr>
            <tr>
                <td>- My Cohort</td>
            </tr>
            <tr>
                <td>- Certify Me</td>
            </tr>
            <tr>
                <td>Woof Woof Go!</td>
            </tr>
            <tr>
                <td><a href="/about">Check out more about us</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

