<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h3>Email Addresses Entered:</h3>
    <table>
        <tbody>
            {% for x in allusers %}
            <tr>
                <td>{{  x['email']  }}</td>
                <td>{{  x['created_at'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>