<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h3>Thank you for your business!</h3>
    <h5>We charged your credit card for ${{ request.session.bill }}.</h5>
    <h5>You have ordered {{ request.session.total }} items so far and spent ${{ request.session.total_cost }} with Amadon.com!</h5>
    <form action="/">  
        <button type="submit">Go back</button>
    </form>
</body>
</html>