<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class=''>
        <h3>CodingDojo Wall</h3>
        <h5>Welcome, {{ session['user'][0]['first_name'] }}</h5>
        <form action="/wallcomment">
            <button type="submit">See all Comments</button>
        </form>
        <form action="/log_out">
            <a href="/">log off</a>
        </form>
    </div>
    <div class='middle'>
        <form action="/addpost" method="post">
            <textarea name="newpost" id="{{ session['user']['users_id'] }}" cols="100" rows="5"></textarea>
            <button>Post a message</button>
        </form>
        <h1>Look at what my friends sent!</h1>
        {% for x in allPosts: %}
            <!-- This for loop getting from the each post and the user who sent it, from the database -->
            <p>{{ x['post'] }}</p>
            <p>{{ x['created_at'] }}</p>
            <hr> 
            <!-- the HR part allows us to have a underline below the post to can see it cleaner -->
         {% endfor %}
    </div>
</body>
</html>